@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

a {
  text-decoration: none;
  color: black;
}

html {
  min-height: 100%;
}

body {
  background-image: url(../img/paperbackground.jpeg);
  background-attachment: fixed;
  position: relative;
  top: 0px;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  min-height: 100vh;
}

.background {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Play', sans-serif;
  font-variant-caps: small-caps;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}