
html {
  min-height: 100%;
}

body {
  min-height: 100%; 
}

.background, #root {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {

  body {
    background-image: url(../img/paperbackground.jpeg);
    background-attachment: fixed;
  }

}

@media only screen and (max-width: 768px) {

  body {
    background-image: url(../img/paperbackground.jpeg);
    /* background-attachment: fixed; */
  }

}


