
.header {
  position: fixed;
  width: 200px;
  top: 0;
  margin-top: 50px;
  margin-left: 40px;
}

.instagram {
  margin-top: 30px;
}

.headerLink {
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: black;
}

.greyed {
  opacity: 0.7;
}
