.sidebar {
  max-width: 180px;
  /* float: right; */
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 1;
}

.menuList {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.menuNameHeader {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 30px;
  width: 200px;
  top: 0px;

}

.menuIcon {
  margin-right: 20px;

}
