@media only screen and (max-width: 768px) {
  img {
    width: 90%;
    padding: 20px;
    /* margin: 10px; */
  }
}

img {
  /* border: 1px solid black; */
  margin-left: -50px;
  margin-right: -50px;
  margin-top: -50px;
}

@media only screen and (min-width: 768px) {

  .Sculpture {
    margin-left: 300px;
  }

  img {
    width: 700px;
    /* margin: 10px; */
  }
}
