@media only screen and (min-width: 768px) {

  .imageContainer {
    margin-left: 300px;
    margin-top: 100px;
    display: flex;
  }

  .column {
    flex: 50%;
  }

  .column2 {
    flex: 50%;
    margin-left: 20px;
    margin-top: -23px;
    margin-right: 20px;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }

}

.invisible {
  display: none;
}

.imageClicked {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 768px) {

  .imageContainer {
    margin-top: 10px;
  }

  .column {
    flex: 50%;
  }

  .column2 {
    margin-left: 20px;
    margin-top: -23px;
    margin-right: 10px;
  }

}
